%h3{ data: {role:"header", theme:"d"} } Editar categoria
%div{ data: {role: "content", theme: "c" } }
  %h1 Editar categoria

  = render 'form'

-#
  = link_to 'Ver', @components_category
  \|
  = link_to 'Volver', components_categories_path
