%div{ data: {role: "content", theme: "c" } }
  %p
    %b Name:
    = @components_category.name
  %p
    %b Description:
    = @components_category.description

  = link_to 'Editar', edit_components_category_path(@components_category)
  \|
  = link_to 'Volver', components_categories_path
