- will_paginate @products
%ul{ data: { role: 'listview', inset: 'true' } }
  %li{ data: { role: 'list-divider'} }
    %div.ui-grid-b
      %div.ui-block-a Producto
      %div.ui-block-b Descripci&oacute;n
      %div.ui-block-c Existencia

  - @products.each do |product|
    - stocks = product.products_stocks
    - stock_total = stocks.reduce {|s0, s1| s0.product_quantity = s0.product_quantity + s1.product_quantity; s0 }
    - stock_qty = stock_total.nil? ? 0 : stock_total.product_quantity
    %li
      %div.ui-grid-b
        %div.ui-block-a= product.name
        %div.ui-block-b= product.description
        %div.ui-block-c= stock_qty
%br    
%div{ data: { role: 'controlgroup', type: 'horizontal' } }
  %a{ href: "#", data: { role: 'button', mini: 'true', pdf: 'true', href: stock_products_list_products_url(:format => :pdf) } } Reporte
  
