
= will_paginate @requests_purchases_components_details
%ul{ data: { role: 'listview', inset: 'true', theme: 'c' } }
  %li{ data: { role: 'list-divider' } }
  
    %div{ class: "ui-grid-c" }
  
      
      %div{ class: "ui-block-b" }  
      
      %div{ class: "ui-block-c" }  
      
      %div{ class: "ui-block-d" } Cantidad 
  
  - @requests_purchases_components_details.each do |requests_purchases_components_detail|
    %li{ class: 'element'}
      %div{ class: "ui-grid-c" }
      
        %div{ class: "ui-block-b trim" }= requests_purchases_components_detail.header_id
      
        %div{ class: "ui-block-c trim" }= requests_purchases_components_detail.component_id
      
        %div{ class: "ui-block-d trim" }= requests_purchases_components_detail.quantity
  
        %div{ style:"width:262px;", class: "ui-block-e", data: { role: 'controlgroup', type: 'horizontal' } }
          - obj = @requests_purchases_component
          - can_modify?(obj)
          - delete_css_class = !can?(:delete, requests_purchases_components_detail) ? 'ui-disabled' : ''
          - edit_css_class = !can?(:edit, requests_purchases_components_detail) ? 'ui-disabled' : ''
          %a{ href: requests_purchases_components_detail_path(requests_purchases_components_detail), data: { method: :delete, confirm: 'Esta seguro?', role: 'button', icon: 'delete', mini: 'true', remote: 'true' }, class: delete_css_class  } Eliminar
          %a{ href: edit_requests_purchases_components_detail_path(requests_purchases_components_detail), data: { role: 'button', icon: 'grid', mini: 'true', remote: 'true'}, class: edit_css_class  } Editar
