%div#page
  %div#menu{ data: { role: 'controlgroup' } }
    %a{ href: settings_company_path, data: { role: 'button', remote: 'true' } } Empresa
    %a{ href: settings_roles_path, data: { role: 'button', remote: 'true' } } Tipos de funcionario
    %a{ href: activity_path, data: { role: 'button', remote: 'true' } } Auditoría
  %div#content
