%div#page
  %div#menu{ data: { role: 'controlgroup' } }
    %a{ href: settings_roles_path, data: { role: 'button', remote: 'true' } } Tipos de funcionario
    -# %a{ href: '#', data: { role: 'button' } }
  %div#content
