
= will_paginate @components_categories_kinds
%ul{ data: { role: 'listview', inset: 'true', theme: 'c', filter: 'true' } }
  %li{ data: { role: 'list-divider' } }
  
    %div{ class: "ui-grid-a" }
  
      
      %div{ class: "ui-block-b" } Nombre 
  
  - @components_categories_kinds.each do |components_categories_kind|
    %li{ class: 'element'}
      %div{ class: "ui-grid-a" }
      
        %div{ class: "ui-block-b trim" }= components_categories_kind.name
  
        %div{  class: "ui-block-c", data: { role: 'controlgroup', type: 'horizontal' } }
          -# if can? :delete, components_categories_kind 
          %a{ href: components_categories_kind_path(components_categories_kind), data: { method: :delete, confirm: 'Esta seguro?', role: 'button', icon: 'delete', mini: 'true' } } Eliminar
          -# if can? :update, components_categories_kind 
          %a{ href: edit_components_categories_kind_path(components_categories_kind), data: { role: 'button', icon: 'grid', mini: 'true'} } Editar

  = link_to 'Agregar  ', new_components_categories_kind_path, { style: 'width: 250px; float: right', data: { role: 'button', theme: 'b', icon: 'new' } }
