
= will_paginate @locations_countries
%ul{ data: { role: 'listview', inset: 'true', theme: 'c', filter: 'true' } }
  %li{ data: { role: 'list-divider' } }
  
    %div{ class: "ui-grid-b" }
  
      
      %div{ class: "ui-block-b" } Nombre 
      
      %div{ class: "ui-block-c" }  
  
  - @locations_countries.each do |locations_country|
    %li{ class: 'element'}
      %div{ class: "ui-grid-b" }
      
        %div{ class: "ui-block-b trim" }= locations_country.name
      
        %div{ class: "ui-block-c trim" }= locations_country.continent_id
  
        %div{  class: "ui-block-d", data: { role: 'controlgroup', type: 'horizontal' } }
          -# if can? :delete, locations_country 
          %a{ href: locations_country_path(locations_country), data: { method: :delete, confirm: 'Esta seguro?', role: 'button', icon: 'delete', mini: 'true', remote: 'true' } } Eliminar
          -# if can? :update, locations_country 
          %a{ href: edit_locations_country_path(locations_country), data: { role: 'button', icon: 'grid', mini: 'true', remote: 'true' } } Editar

  = link_to 'Agregar  ', new_locations_country_path, { style: 'width: 250px; float: right', data: { role: 'button', theme: 'b', icon: 'new', remote: 'true'  } }
