
%div{ data: {role: "content", theme: "c" } }

%div{ data: {role: "content", theme: "c" } }
  %div{ class: "ui-grid-b" }
      
    %div{ class: "ui-block-b" } :
      
    %div{ class: "ui-block-c" } :
  
  %div{ class: "ui-grid-b" }
    
    %div{ class: "ui-block-d" }= @requests_devolutions_components_detail.header_id
    
    %div{ class: "ui-block-e" }= @requests_devolutions_components_detail.component_id
  
