:plain
  
$("#list").html("#{escape_javascript render :file => 'requests/devolutions/components/details/_list', :formats => [:html]}").trigger("create") ;
  
  $("#form").html("#{escape_javascript render :file => 'requests/devolutions/components/details/_form', :formats => [:html]}").trigger("create") ;
  showNotice('#{ @notice }');  
