%div#page
  %div#menu{ data: { role: 'controlgroup' } }
    %a{ href: components_items_path, data: { role: 'button', remote: 'true' } } Componentes
    %a{ href: '#', data: { role: 'button' } } Stock
    %a{ href: '#', data: { role: 'button' } } Pedidos de Compra 
    %a{ hreof: '#', data: { role: 'button' } } Pedidos de Componentes 
  %div#content
    = render :file => 'components/items/index', :formats => [:html]
