
= will_paginate @products_compositions
%ul{ data: { role: 'listview', inset: 'true', theme: 'c', filter: 'true' } }
  %li{ data: { role: 'list-divider' } }
  
    %div{ class: "ui-grid-b" }
  
      
      %div{ class: "ui-block-b" } Nombre 
      
      %div{ class: "ui-block-c" } Descripci&oacute;n 
  
  - @products_compositions.each do |products_composition|
    %li{ class: 'element'}
      %div{ class: "ui-grid-b" }
      
        %div{ class: "ui-block-b trim" }= products_composition.name
      
        %div{ class: "ui-block-c trim" }= products_composition.description
  
        %div{ style:"width:262px;", class: "ui-block-d", data: { role: 'controlgroup', type: 'horizontal' } }
          -# if can? :delete, products_composition 
          %a{ href: products_composition_path(products_composition), data: { method: :delete, confirm: 'Esta seguro?', role: 'button', icon: 'delete', mini: 'true' } } Eliminar
          -# if can? :update, products_composition 
          %a{ href: edit_products_composition_path(products_composition), data: { role: 'button', icon: 'grid', mini: 'true'} } Editar
          %a{ href: products_composition_path(products_composition), data: { role: 'button', icon: 'grid', mini: 'true'} } Detalle
          

  = link_to 'Agregar  ', new_products_composition_path, { style: 'width: 250px; float: right', data: { role: 'button', theme: 'b', icon: 'new' } }
