/*.ui-content{*/
/*    width:100%!important;*/
/*}*/

.ui-content:not(.not){
    width:80%!important;
    margin-left:auto!important;
    margin-right:auto!important;
}

:not(.not) .ui-content:not(.not) form:not(.not){
    width:30%!important;
    margin-left:auto!important;
    margin-right:auto!important;
}



/*label.ui-input-text{*/
/*	width: 40%!important;*/
/*	display: inline-block!important;*/
/*}*/

/*input.ui-input-text{*/
/*	width: 50%!important;*/
/*	display: inline-block!important;*/
/*}*/

.ui-submit:not(.not){
    width:40%!important;
    margin-left:auto!important;
/*    margin-right:auto!important;*/
}

.section .menu {
    width: 25%;
    float: left;
}

.section .content {
    width: 73%;
    float: right;
}

