/*.ui-content{*/
/*    width:100%!important;*/
/*}*/
/*
.ui-content:not(.not) {
    width:80%!important;
    margin-left:auto!important;
    margin-right:auto!important;
}

:not(div[data-role="popup"]) > form:not([data-role="search"]){
    width:30%!important;
    margin-left:auto!important;
    margin-right:auto!important;
}*/
.ar{text-align:right}.al{text-align:left}.ac{text-align:center}.loader{position:fixed;top:50%;left:50%;width:70px;height:70px;z-index:1000}.circle{background-color:rgba(0,0,0,0);border:5px solid #003b86;opacity:.9;border-right:5px solid rgba(0,0,0,0);border-left:5px solid rgba(0,0,0,0);border-radius:50px;box-shadow:0 0 35px blue;width:50px;height:50px;margin:0 auto;-moz-animation:spinPulse 1s infinite ease-in-out;-webkit-animation:spinPulse 1s infinite linear}.circle1{background-color:rgba(0,0,0,0);border:5px solid #003b86;opacity:.9;border-left:5px solid rgba(0,0,0,0);border-right:5px solid rgba(0,0,0,0);border-radius:50px;box-shadow:0 0 15px blue;width:30px;height:30px;margin:0 auto;position:relative;top:-50px;-moz-animation:spinoffPulse 1s infinite linear;-webkit-animation:spinoffPulse 1s infinite linear}@-ms-keyframes spinPulse{0%{-ms-transform:rotate(160deg);opacity:0;box-shadow:0 0 1px blue}50%{-ms-transform:rotate(145deg);opacity:1}100%{-ms-transform:rotate(-320deg);opacity:0}}@-ms-keyframes spinoffPulse{0%{-ms-transform:rotate(0deg)}100%{-ms-transform:rotate(360deg)}}@-o-keyframes spinPulse{0%{-o-transform:rotate(160deg);opacity:0;box-shadow:0 0 1px blue}50%{-o-transform:rotate(145deg);opacity:1}100%{-o-transform:rotate(-320deg);opacity:0}}@-o-keyframes spinoffPulse{0%{-o-transform:rotate(0deg)}100%{-o-transform:rotate(360deg)}}@-moz-keyframes spinPulse{0%{-moz-transform:rotate(160deg);opacity:0;box-shadow:0 0 1px blue}50%{-moz-transform:rotate(145deg);opacity:1}100%{-moz-transform:rotate(-320deg);opacity:0}}@-moz-keyframes spinoffPulse{0%{-moz-transform:rotate(0deg)}100%{-moz-transform:rotate(360deg)}}@-webkit-keyframes spinPulse{0%{-webkit-transform:rotate(160deg);opacity:0;box-shadow:0 0 1px blue}50%{-webkit-transform:rotate(145deg);opacity:1}100%{-webkit-transform:rotate(-320deg);opacity:0}}@-webkit-keyframes spinoffPulse{0%{-webkit-transform:rotate(0deg)}100%{-webkit-transform:rotate(360deg)}}

.ui-loader{
  background:white!important;
}

.settings_back{
  width:200px!important;
  margin-left:10px!important;
  top: 85%!important;
  position: absolute!important;
}

.permissions-buttons.ui-grid-a{
  width:600px!important;
}
.permissions-buttons .ui-block-a{
  width:190px!important;
}
.permissions-buttons .ui-block-b{
  width:300px!important;
}

.selected{
  background-image: -webkit-gradient(linear,left top,left bottom,from( #6FACD5 ),to( #497BAE ))!important;
  background-image: -webkit-linear-gradient( #6FACD5,#497BAE )!important;
  background-image: -moz-linear-gradient( #6FACD5,#497BAE )!important;
  background-image: -ms-linear-gradient( #6FACD5,#497BAE )!important;
  background-image: -o-linear-gradient( #6FACD5,#497BAE )!important;
  background-image: linear-gradient( #6FACD5,#497BAE )!important;
  
}

.ui-selectmenu  a:hover{
  background:none;
}

.ui-listview-filter{
  width: 98%!important;
  margin: auto!important;
  border: none!important;
  background:none!important;
  border-radius: 10px!important;
}
.pagination a{
  text-decoration:none;
  border-radius:5px;
  border: 1px solid #456F9A;
  background: #5E87B0;
  text-shadow: 0 1px 1px #3E6790;
  background-image: -webkit-gradient(linear,left top,left bottom,from( #6FACD5 ),to( #497BAE ));
  background-image: -webkit-linear-gradient( #6FACD5,#497BAE );
  background-image: -moz-linear-gradient( #6FACD5,#497BAE );
  background-image: -ms-linear-gradient( #6FACD5,#497BAE );
  background-image: -o-linear-gradient( #6FACD5,#497BAE );
  background-image: linear-gradient( #6FACD5,#497BAE );
  padding:5px;
  color: white!important;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  text-shadow: #194B7E 0px 1px 1px;
}
.pagination a:hover{
  text-decoration:none;
  border-radius:5px;
  background: rgb(39,183,255);
  background: -moz-linear-gradient(top, rgba(39,183,255,1) 0%, rgba(11,151,251,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(39,183,255,1)), color-stop(100%,rgba(11,151,251,1)));
  background: -webkit-linear-gradient(top, rgba(39,183,255,1) 0%,rgba(11,151,251,1) 100%);
  background: -o-linear-gradient(top, rgba(39,183,255,1) 0%,rgba(11,151,251,1) 100%);
  background: -ms-linear-gradient(top, rgba(39,183,255,1) 0%,rgba(11,151,251,1) 100%);
  background: linear-gradient(to bottom, rgba(39,183,255,1) 0%,rgba(11,151,251,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#27b7ff', endColorstr='#0b97fb',GradientType=0 );
  padding:5px;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  text-shadow: #194B7E 0px 1px 1px;
  margin-bottom:2px!important;
  margin-top:2px!important;
}

.pagination{
  padding-bottom:5px;
  padding-top:5px;
  margin-bottom:2px!important;
  margin-top:2px!important;  
  text-align:center;
}

.previous_page.disabled, .next_page.disabled{
  color:gray!important;
}

#error_explanation h2{
  border-radius: 7px 7px 0px 0px;
}
.tbox{
  z-index: 9999!important;
}
#alert{
/* Fallback for web browsers that doesn't support RGBa */
	background: rgb(0, 0, 0);
	/* RGBa with 0.6 opacity */
	background: rgba(0, 0, 0, 0.7);
	/* For IE 5.5 - 7*/
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
	/* For IE 8*/
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";

  background-image: -webkit-linear-gradient(top, #444, #222);
  background-size: auto;
  border-width: 1px;
  border-color: #444;
  border-radius: 7px;
  border-style: solid;
  border-top-width: 1px;
  box-shadow: rgba(0, 0, 0, 0.6) 0px 0px 12px 0px;
  color: white;
  display: block;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px!important;
  font-weight: bold;
  height: 33px;
  line-height: 18px;
  padding: 5px;

  text-shadow: #111 0px 1px 1px;
  width: 400px!important;
  text-align:center;
}

#error_explanation{
  border-radius: 10px;
  color: black;
  border-width:1px!important;
  width:434px!important;
}

/*#notice_container{*/
/*  padding:5px;*/
/*/*  background:#FEFFD4;*/*/
/*  background:#daffdd;*/
/*  border-radius:5px!important;*/
/*  margin-bottom:4px;*/
/*/*  border: 1px solid #FCEFA1;*/*/
/*  border:1px solid #187f00;*/
/*}*/
/*#notice{*/
/*/* color:#734000!important;*/*/
/*  color:black!important;*/
/*}*/
/*#notice_container span.ui-icon{*/
/*  float:left;*/
/*  margin-left:10px;*/
/*  margin-right:10px;*/
/*}*/



#error_container{
  padding:5px;
/*  background:#FEFFD4;*/
  background:#ffd4d4;
  border-radius:5px!important;
  margin-bottom:4px;
/*  border: 1px solid #FCEFA1;*/
  border:1px solid #a53939;
}

.field_with_errors {
  background:none!important;
  width:100%;
}
.field_with_errors input{
  border: 1px red solid;
}
.field_with_errors label, .error{
  color: #CD0A0A;
}

label.error, .field_with_errors .message{
/*  float: right;*/
  width:100%;
  text-align:right;
  font-size: 13px;
  color: #CD0A0A;
  display:block;
}

form{
  width:450px;
  margin:auto;
}

*[data-role="header"]{
  padding:10px!important;
  text-align:center;
}

div[data-role="popup"] {
  padding: 5px 15px;
}
.field.plus .ui-select, .field.plus div{
  vertical-align : middle;
  width:90%;
  display:inline-block;
}
.field.plus input{
  vertical-align : middle;
  width:90%;
  display:inline-block;
}
.field.plus a{
  vertical-align : middle;
  display:inline-block;
}

.element{
  line-height:50px;
  text-align:center;
}
.element div[data-role="controlgroup"]{
  padding-top:7px;
}
div[data-role="controlgroup"]{
  line-height:20px;
}

li.ui-li.element{
  padding:0;
  text-align:center;
}


/*label.ui-input-text{*/
/*	width: 40%!important;*/
/*	display: inline-block!important;*/
/*}*/

/*input.ui-input-text{*/
/*	width: 50%!important;*/
/*	display: inline-block!important;*/
/*}*/

/*.ui-submit:not(.not) {
    width:40%!important;
    margin-left:auto!important;
}*/
/*    margin-right:auto!important;*/
#page{ padding:10px 10px 0 10px; }
#page #menu { width: 25%; float: left; }
#page #content { width: 73%; float: right; }
#page #content [data-role="listview"] * { text-align: center; }

.text-center { text-align: center; }

.ui-controlgroup { margin: 0 !important; }

.pack{
/* Firefox */
display:-moz-box;
  -moz-box-orient:horizontal;
  -moz-box-pack:center;
  -moz-box-align:center;
  /* Safari and Chrome */
  display:-webkit-box;
  -webkit-box-orient:horizontal;
  -webkit-box-pack:center;
  -webkit-box-align:center;
  /* W3C */
  display:box;
  box-orient:horizontal;
  box-pack:center;
  box-align:center;
}
/*
.margin-auto button{
  width:48%!important;
}
.margin-auto input{
  !important;
}*/

.ui-grid-f, .ui-grid-e{
  display: block;
  height: 50px;
  position: static;
}
.ui-li-divider .ui-grid-f, .ui-li-divider .ui-grid-e{
  height: 20px;
}
.detail [data-role="controlgroup"]{
  z-index: 4;
  width: 175px;
  margin-left: -22px!important;
}

.ui-grid-f [data-role="controlgroup"]{
  z-index: 4;
  width: 175px;
  margin-left: -22px!important;
}

.ui-grid-d .ui-block-a, .ui-grid-d .ui-block-b, .ui-grid-d .ui-block-c, .ui-grid-d .ui-block-d, .ui-grid-d .ui-block-e, .ui-grid-d .ui-block-f, .ui-grid-d .ui-block-g{
  width:18%!important;
  float: left!important;
}

.ui-grid-d [data-role="controlgroup"]{
  z-index: 4!important;
  margin-left: -42px!important;
  width:262px!important;
  float: right!important;  
  margin-right:10px!important;
}

.detail .ui-grid-e [data-role="controlgroup"]{
  z-index: 4!important;
  width:262px;
  float: right!important;  
  margin-right:20px!important;
}

.ui-grid-e .ui-block-a, .ui-grid-e .ui-block-b, .ui-grid-e .ui-block-c, .ui-grid-e .ui-block-d, .ui-grid-e .ui-block-e, .ui-grid-e .ui-block-f, .ui-grid-e .ui-block-g{
  width:14%;
  float: left;
}


.ui-grid-f .ui-block-a, .ui-grid-f .ui-block-b, .ui-grid-f .ui-block-c, .ui-grid-f .ui-block-d, .ui-grid-f .ui-block-e, .ui-grid-f .ui-block-f, .ui-grid-f .ui-block-g{
  width:14%;
  float: left;
}

.ui-content .ui-listview, .ui-content .ui-listview-inset {
  margin: 0 !important;
}


.transaction .ui-block-a, .transaction .ui-block-b, .transaction .ui-block-c, .transaction .ui-block-d, .transaction .ui-block-e, .transaction .ui-block-f, .transaction .ui-block-g{
  width:22%!important;
  float: left!important;
}

.transaction .qtty{
  width:10%!important;
}

.transaction .item{
  width:28%!important;
}

.transaction .stock{
  width:17%!important;
}

