/*.ui-content{*/
/*    width:100%!important;*/
/*}*/
/*
.ui-content:not(.not) {
    width:80%!important;
    margin-left:auto!important;
    margin-right:auto!important;
}

:not(div[data-role="popup"]) > form:not([data-role="search"]){
    width:30%!important;
    margin-left:auto!important;
    margin-right:auto!important;
}*/

.selected{
  background-image: -webkit-gradient(linear,left top,left bottom,from( #6FACD5 ),to( #497BAE ))!important;
  background-image: -webkit-linear-gradient( #6FACD5,#497BAE )!important;
  background-image: -moz-linear-gradient( #6FACD5,#497BAE )!important;
  background-image: -ms-linear-gradient( #6FACD5,#497BAE )!important;
  background-image: -o-linear-gradient( #6FACD5,#497BAE )!important;
  background-image: linear-gradient( #6FACD5,#497BAE )!important;
  
}

.ui-listview-filter{
  width: 98%!important;
  margin: auto!important;
  border: none!important;
  background:none!important;
  border-radius: 10px!important;
}
.pagination a{
  text-decoration:none;
  border-radius:5px;
  border: 1px solid #456F9A;
  background: #5E87B0;
  text-shadow: 0 1px 1px #3E6790;
  background-image: -webkit-gradient(linear,left top,left bottom,from( #6FACD5 ),to( #497BAE ));
  background-image: -webkit-linear-gradient( #6FACD5,#497BAE );
  background-image: -moz-linear-gradient( #6FACD5,#497BAE );
  background-image: -ms-linear-gradient( #6FACD5,#497BAE );
  background-image: -o-linear-gradient( #6FACD5,#497BAE );
  background-image: linear-gradient( #6FACD5,#497BAE );
  padding:5px;
  color: white!important;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  text-shadow: #194B7E 0px 1px 1px;
}
.pagination a:hover{
  text-decoration:none;
  border-radius:5px;
  background: rgb(39,183,255);
  background: -moz-linear-gradient(top, rgba(39,183,255,1) 0%, rgba(11,151,251,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(39,183,255,1)), color-stop(100%,rgba(11,151,251,1)));
  background: -webkit-linear-gradient(top, rgba(39,183,255,1) 0%,rgba(11,151,251,1) 100%);
  background: -o-linear-gradient(top, rgba(39,183,255,1) 0%,rgba(11,151,251,1) 100%);
  background: -ms-linear-gradient(top, rgba(39,183,255,1) 0%,rgba(11,151,251,1) 100%);
  background: linear-gradient(to bottom, rgba(39,183,255,1) 0%,rgba(11,151,251,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#27b7ff', endColorstr='#0b97fb',GradientType=0 );
  padding:5px;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  text-shadow: #194B7E 0px 1px 1px;
  margin-bottom:2px!important;
  margin-top:2px!important;
}

.pagination{
  padding-bottom:5px;
  padding-top:5px;
  margin-bottom:2px!important;
  margin-top:2px!important;  
  text-align:center;
}

.previous_page.disabled, .next_page.disabled{
  color:gray!important;
}

#error_explanation h2{
  border-radius: 7px 7px 0px 0px;
}

#error_explanation{
  border-radius: 10px;
  color: black;
  border-width:1px!important;
}

#notice_container{
  padding:5px;
/*  background:#FEFFD4;*/
  background:#daffdd;
  border-radius:5px!important;
  margin-bottom:4px;
/*  border: 1px solid #FCEFA1;*/
  border:1px solid #187f00;
}

#error_container{
  padding:5px;
/*  background:#FEFFD4;*/
  background:#ffd4d4;
  border-radius:5px!important;
  margin-bottom:4px;
/*  border: 1px solid #FCEFA1;*/
  border:1px solid #a53939;
}

#notice{
/* color:#734000!important;*/
  color:black!important;
}
#notice_container span.ui-icon{
  float:left;
  margin-left:10px;
  margin-right:10px;
}

.field_with_errors {
  background:none!important;
  width:100%;
}
.field_with_errors input{
  border: 1px red solid;
}
.field_with_errors label, .error{
  color: #CD0A0A;
}

label.error, .field_with_errors .message{
/*  float: right;*/
  width:100%;
  text-align:right;
  font-size: 13px;
  color: #CD0A0A;
  display:block;
}

form{
  width:450px;
  margin:auto;
}

*[data-role="header"]{
  padding:10px!important;
  text-align:center;
}

div[data-role="popup"] {
  padding: 5px 15px;
}
.field.plus .ui-select, .field.plus div{
  vertical-align : middle;
  width:90%;
  display:inline-block;
}
.field.plus input{
  vertical-align : middle;
  width:90%;
  display:inline-block;
}
.field.plus a{
  vertical-align : middle;
  display:inline-block;
}

.element{
  line-height:50px;
  text-align:center;
}
.element div[data-role="controlgroup"]{
  padding-top:7px;
}
div[data-role="controlgroup"]{
  line-height:20px;
}

li.ui-li.element{
  padding:0;
  text-align:center;
}


/*label.ui-input-text{*/
/*	width: 40%!important;*/
/*	display: inline-block!important;*/
/*}*/

/*input.ui-input-text{*/
/*	width: 50%!important;*/
/*	display: inline-block!important;*/
/*}*/

/*.ui-submit:not(.not) {
    width:40%!important;
    margin-left:auto!important;
}*/
/*    margin-right:auto!important;*/
#page{ padding:10px 10px 0 10px; }
#page #menu { width: 25%; float: left; }
#page #content { width: 73%; float: right; }
#page #content [data-role="listview"] * { text-align: center; }

.text-center { text-align: center; }

.ui-controlgroup { margin: 0 !important; }

.ui-grid-f{
  display: block;
  height: 50px;
  position: static;
}
.ui-li-divider .ui-grid-f{
  height: 20px;
}
.ui-grid-f [data-role="controlgroup"]{
  z-index: 4;
  width: 175px;
  margin-left: -22px!important;
}
.ui-grid-f .ui-block-a, .ui-grid-f .ui-block-b, .ui-grid-f .ui-block-c, .ui-grid-f .ui-block-d, .ui-grid-f .ui-block-e, .ui-grid-f .ui-block-f, .ui-grid-f .ui-block-g{
  width:14%;
  float: left;
}
