.containing-element .ui-slider-switch {
    width: 200px;
}
#pass_forgot a{
    color:white;
    font-size:10px;
    float:right;
}

#login_view, .login_container{
    width:350px!important;
    margin:auto!important;
}

#login_view label.ui-input-text, #login_view input.ui-input-text{
    width:100%!important;
    display:inline!important;
}
#login_view .ui-submit{ 
    width:100%!important;
}
