= will_paginate @components_items
%ul{ data: { role: 'listview', inset: 'true', theme: 'c', filter: "true" } }
  %li{ data: { role: 'list-divider' } }
    %div{ class: 'ui-grid-f' }
      %div{ class: 'ui-block-a' } Nombre
      %div{ class: 'ui-block-b' } Marca
      %div{ class: 'ui-block-c' } C&oacute;digo
      %div{ class: 'ui-block-d' } Categor&iacute;a
      %div{ class: 'ui-block-e' } Cantidad mínima
      %div{ class: 'ui-block-f' } Precio   
      %div{ class: 'ui-block-g' } Opciones
      
  - @components_items.each do |item|
    %li{ class: 'element' }
      %div{ class: 'ui-grid-f' }
        %div{ class: 'ui-block-a trim', data: {trim: '17'} }= item.name
        %div{ class: 'ui-block-b trim', data: {trim: '17'} }= item.brand.name
        %div{ class: 'ui-block-c trim', data: {trim: '17'} }= item.code
        %div{ class: 'ui-block-d trim', data: {trim: '17'} }= item.category.name
        %div{ class: 'ui-block-e trim', data: {trim: '17'} }= item.minimum_quantity
        %div{ class: 'ui-block-f trim', data: {trim: '17'} }= item.price
        %div{ class: 'ui-block-g' }
          %div{ data: { role: 'controlgroup', type: 'horizontal' } }
            - delete_css_class = !can?(:delete, item) || item.products_compositions_details != [] ? 'ui-disabled' : ''
            - edit_css_class = !can?(:edit, item) ? 'ui-disabled' : ''
            %a{ href: components_item_path(item), data: { method: :delete, confirm: 'Esta seguro?', role: 'button', icon: 'delete', mini: 'true', remote: 'true' }, class: delete_css_class } Eliminar
            %a{ href: edit_components_item_path(item), data: { role: 'button', icon: 'grid', mini: 'true', remote: 'true'}, class: edit_css_class } Editar

- create_css_class = !can?(:create, Components::Item.new) ? 'ui-disabled' : ''
%a{ href: new_components_item_path, style: 'width: 250px; float: right',
    data: { role: 'button', theme: 'b', icon: 'new', remote: 'true' }, class: create_css_class } Nuevo Componente
