<p>Bienvenido <%= @resource.email %>!</p>

<p>Puedes confirmar tu cuenta siguiendo en el siguiente enlace:</p>

<p><%= link_to 'Confirmar mi cuenta', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %></p>
