<p>Hola <%= @resource.email %>!</p>

<p>Alguien ha solicitado cambiar su contrase침a, puedes hacerlo siguiendo el siguiente enlace.</p>

<p><%= link_to 'Cambiar contrase침a', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>Si no has solicitado esto, por favor ignora este correo.</p>
<p>Tu contrase침a no ser치 cambiada a menos que acceda al enlace.</p>
