<p>Hola <%= @resource.email %>!</p>

<p>Su cuenta ha sido bloqueada.</p>

<p>Sigue el siguiente enlace para desbloquearla:</p>

<p><%= link_to 'Desbloquear mi cuenta', unlock_url(@resource, :unlock_token => @resource.unlock_token) %></p>
