
%div{ data: {role: "content", theme: "c" } }

%div{ data: {role: "content", theme: "c" } }
  %div{ class: "ui-grid-c" }
      
    %div{ class: "ui-block-b" } :
      
    %div{ class: "ui-block-c" } :
      
    %div{ class: "ui-block-d" } Cantidad:
  
  %div{ class: "ui-grid-c" }
    
    %div{ class: "ui-block-e" }= @products_compositions_detail.composition_id
    
    %div{ class: "ui-block-e" }= @products_compositions_detail.components_id
    
    %div{ class: "ui-block-e" }= @products_compositions_detail.quantity
  
