-# Create role button, id = create_role_button
%a{ href: new_settings_role_path, style: 'width: 50%; float: right;', id: 'create_role_button',
  data: { role: 'button', remote: 'true', icon: 'plus' } } Nuevo Tipo
