%div#notification{ data: { role: 'popup', :'overlay-theme' => 'a', theme: 'a' } }
%div#roles{ style: 'width: 45%; float: left;' }

  = render 'list', :formats => [:html]
  = render 'create_button', :formats => [:html]

%div#edit_role_section{ style: 'width: 50%; float: right;' }
