:css
  #roles .ui-listview-inset { margin: 0; }
  #edit_role_section .ui-listview-inset { margin: 0; }
%div#notification{ data: { role: 'popup', :'overlay-theme' => 'a', theme: 'a' } }
%div#roles{ style: 'width: 50%; float: left;' }

  = render 'list', :formats => [:html]
  = render 'create_button', :formats => [:html]

%div#edit_role_section{ style: 'width: 50%; float: right;' }
