:plain
  changeSelectedButton('#roles', '#edit_role_#{@role.id}');
  changeContent('#page #edit_role_section',
    '#{escape_javascript render 'form', :formats => [:html]}'
  );
  $('[name="role[name]"]').focus();
