%div#header_navbar{ data: { role: 'navbar' } }
  %ul
    %li
      %a{ href: "/stock/components#index" } Componentes
    %li
      %a{ href: '/stock/production/index'} Producción
    %li
      %a{ href: '/stock/products/index'} Productos
