%div#header_navbar{ data: { role: 'navbar' } }
  %ul
    %li
      %a{ href: stock_raw_material_path } Materia Prima
    %li
      %a{ href: stock_production_index_path} Producción
    %li
      %a{ href: stock_products_index_path} Productos
