%div#header_navbar{ data: { role: 'navbar' } }
  %ul
    %li
      %a{ href: "/components/index" } Componentes
    %li
      %a{ href: '/production/index'} Produccion
    %li
      %a{ href: '/products/index'} Productos
