<!DOCTYPE html>
<html>
<head>
  <title>Dialog</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<script>
$(on_load);
</script>
<body>

    <div data-role="dialog" class="not" data-rel="back">
        <%= yield %>
    </div>

</body>
</html>
