<!DOCTYPE html>
%html
  %head
    %title Ms01
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body(onload="$(\"[href='/settings/company']\").click()")
    %div(data-role="page")
      %div(data-role="header" data-position="fixed")
        %a{ href: root_path, data: { role: 'button' } } Volver
        %h3 Configuración del sistema
      %div(id="content" data-role="content")
      
        = yield
    
      %div(data-role="footer" data-position="fixed")
        %h3 Footer
      %div#popup{ class: 'ui-corner-all', data: { role: 'popup', theme: 'a', :'overlay-theme' => 'a', transition: "slidefade" } }
